@charset "UTF-8";

:root {
    /* CSS HEX */
--madder: #a31621ff;
--light-blue: #a8ccc9ff;
--yellow: #f6f930ff;
--blue-crayola: #2176ffff;
--apricot: #ffcab1ff;

/* CSS HSL */
--madder: hsla(355, 76%, 36%, 1);
--light-blue: hsla(175, 26%, 73%, 1);
--yellow: hsla(61, 94%, 58%, 1);
--blue-crayola: hsla(217, 100%, 56%, 1);
--apricot: hsla(19, 100%, 85%, 1);



}